html,
body {
  height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: small;
  background: #fff;
  color: #222; }
  body .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header {
  position: relative;
  top: 1rem; }
  header #header-left {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.625rem; }
    header #header-left a {
      display: inline-block;
      padding-left: 1rem;
      color: #000; }
  header #header-right {
    position: relative;
    float: right;
    margin-top: 0.5rem;
    margin-right: 1.75rem;
    display: flex;
    align-items: center; }
    header #header-right a {
      margin-left: 1rem;
      color: #000; }
    header #header-right #app-launcher {
      background-image: url(../images/apps.svg);
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem; }
    header #header-right #sign-in {
      margin-left: 1rem;
      padding: 0 1rem;
      background: #4285f4;
      color: white;
      font-weight: bold;
      border: none;
      height: 2rem;
      cursor: pointer; }
      header #header-right #sign-in:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

#home {
  margin-top: 14rem;
  height: calc(100% - 17rem); }

.center {
  margin: 0 auto; }

.logo-container {
  width: calc(min(70%, 17rem)); }

.search-container {
  width: calc(min(90%, 36rem));
  padding: 1.5rem; }

.search-bar {
  display: flex;
  flex-flow: row nowrap;
  border: 1px #dfe1e5 solid;
  border-radius: 1.5rem; }
  .search-bar:hover {
    box-shadow: 0px 1px 6px rgba(33, 33, 33, 0.3); }
  .search-bar img {
    margin-left: 0.6rem;
    width: 1.2rem; }

#search {
  width: calc(100% - 2rem);
  margin-right: 1.1rem;
  height: 2.5rem;
  border: none; }

.button-container {
  width: calc(min(80%, 20rem));
  display: flex;
  justify-content: center; }
  .button-container input[type="submit"] {
    padding: 0.5rem 1em;
    margin: 0.75rem 0.5rem;
    background-color: #f7f7f7;
    border: none;
    color: #4d4d4d;
    font-size: 0.9rem;
    cursor: pointer; }
    .button-container input[type="submit"]:hover {
      border: 1px #d9d9d9 solid;
      box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.15); }

#footer {
  width: 100%;
  height: 3rem;
  background: #f2f2f2;
  font-size: 0.9rem; }
  #footer .footer-left {
    float: left;
    height: 100%;
    display: flex;
    align-items: center; }
    #footer .footer-left a {
      margin-left: 2rem;
      color: #737373; }
  #footer .footer-right {
    height: 100%;
    float: right;
    display: flex;
    align-items: center; }
    #footer .footer-right a {
      margin-right: 2rem;
      color: #737373; }
