@import "config";

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: small;
  background: $body-color;
  color: $text-color;

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header {
  position: relative;
  top: 16px;

  #header-left {
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;

    a {
      display: inline-block;
      padding-left: 16px;
      color: $header-link-color;
    }
  }

  #header-right {
    position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 28px;
    display: flex;
    align-items: center;

    a {
      padding-left: 16px;
      color: $header-link-color;
    }
  }
}

main {
  margin-top: 90px;
}

.center {
  margin: 0 auto;
}
